<div class="wrap">
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-transparent w-100 border-bottom border-white"
  >
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="/products"
        ><img
          style="width: 3vw"
          src="https://dawmt.com/assets/images/logo.png"
          alt=""
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <!-- <span class="text-white">DAWMT</span> -->
          </li>
        </ul>
        <div class="d-flex mx-5">
          <input
            class="form-control bg-transparent text-white me-2"
            [(ngModel)]="searchQuery"
            placeholder="Search"
          />
          <button (click)="performSearch()" class="custom-btn btn-12">
            <span>Search</span><span>Click</span>
          </button>
        </div>
        <div
          type="button"
          class="btn btn-outline-light btn-sm position-relative"
        >
          <span
            class="position-absolute mt-3 start-50 mx-2 translate-middle badge rounded-pill bg-danger"
          >
            {{ cart }}+
          </span>
          <span>
            <img src="../../../assets/image/icons8-cart-64.png" alt="" />
          </span>
        </div>
      </div>
    </div>
  </nav>
  <!-- <div class="banner"></div> -->
</div>
