.image-product {
  background-size: cover;
  object-fit: scale-down;
  width: 100vw !important;
  height: 30vh !important;
 
}
.modal-content{
    background-color: transparent !important;
    border: none !important;
}
.spinner-grow{
    height: 10rem;
    width: 10rem;
}
.background-color{
    background-color: azure;

}
.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh; /* 100% of the viewport height */
  }
.image-product-info {
    
  background-size: cover;
  object-fit: scale-down;
  width: 100% !important;
  height: 30vh !important;
}
.carousel-control-next-icon {
  background-color: #333;
}
.carousel-control-prev-icon {
  background-color: #333;
}
p{
    color: #333 !important;
}
