
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content " >
      <div
    class="card my-5 row py-5 background-color"
    style="width: 30vw; margin: 10rem 1vw"
    *ngIf="productInfo"
  >
    <div class="d-flex justify-content-center align-item-center">
      <img
        [src]="productInfo.image"
        class="card-img-top image-product-info"
        alt="..."
      />
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ productInfo?.title }}</h5>
      <p class="card-text">{{ productInfo?.description }}</p>
    </div>
      <li class="list-group-item background-color">
        <h6>price</h6>
        {{ productInfo?.price }}
      </li>
      <li class="list-group-item background-color">
        <h6>rate</h6>
        {{ productInfo?.rating.rate }}
      </li>
      <li class="list-group-item background-color">
        <h6>count</h6>
        {{ productInfo?.rating.count }}
      </li>
    <div class="card-body">
      <button
        type="button"
        class="btn btn-primary btn-sm me-2"
        (click)="addToCart(productInfo)"
      >
        Add to Cart
      </button>
      <button
        type="button"
        class="btn btn-danger btn-sm ml-1"
        (click)="deleteFromCart(productInfo.id)"
        [disabled]="!isIdInArray(productInfo.id)"
      >
        Delete
      </button>
    </div>
  </div>
    </div>
  </div>
</div>
<div *ngIf="loaderValue" class="center-container">
  <div class="spinner-grow" role="status">
  </div>
</div>
<div *ngIf="!loaderValue">
  <div
    id="carouselExampleCaptions"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <img
          [src]="products[0]?.image"
          (click)="setDetails(products[0])"
          class="d-block image-product"
          alt="..."
        />
      </div>
      <div
      data-bs-toggle="modal" data-bs-target="#exampleModal"
        class="carousel-item"
        *ngFor="let product of products | slice : 1; let i = index"
      >
        <img
          (click)="setDetails(product)"
          [src]="product.image"
          class="image-product"
          alt="..."
          [id]="product.id"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  
</div>
