.image-product-info {
    
    background-size: cover;
    object-fit: scale-down;
    width: 100% !important;
    height: 30vh !important;
  }
  .center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh; /* 100% of the viewport height */
  }
  .spinner-grow{
    height: 10rem;
    width: 10rem;
}