<div *ngIf="loaderValue" class="center-container">
    <div class="spinner-grow" role="status">
    </div>
  </div>
<div *ngIf="!loaderValue" class="row">

    <div
    class="card my-5 col-4 py-5 background-color"
  style="width: 30vw; margin: 1rem 1rem"
  *ngFor="let productInfo of filteredProducts ; let i = index"

>
  <div class="d-flex justify-content-center align-item-center">
    <img
      [src]="productInfo.image"
      class="card-img-top image-product-info"
      alt="..."
    />
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ productInfo?.title }}</h5>
    <p class="card-text">{{ productInfo?.description }}</p>
  </div>

 
</div>
</div>